html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

li.marker-list-items {
  color: blue;
  cursor: pointer;
}


/*div[class*="row"] {
  border: 1px dotted rgba(0, 0, 0, 0.5);
}

div[class^="col-"] {
  background-color: rgba(255, 0, 0, 0.2);
}*/

#map-canvas {
  width: 100%;
  height: 500px;
  margin-bottom: 15px;
  border: 2px solid #fff;
}

#filter-input {
  width: 80%;
  height: 15px;
}

#list-items {
  height: 80%;
  width: 30%;
  float: left;
}
